
.section{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid grey; */
    
    box-shadow: 0px 0px 10px grey;
    margin-left: 20%;
    
}
.section>h2{
    font-size: 25px;
    margin-left: 30px;
    color: rgb(76, 76, 76);
}
.section>.section1{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}